@font-face {
    font-family: "Bison";
    font-style: normal;
    font-weight: 600;
    src: url("./Bison-DemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Grandview";
    font-style: normal;
    font-weight: 400;
    src: url("./Grandview-Regular.woff2") format("woff2");
}