header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8125em;
    height: 3.75em;
}

header > img {
    width: 12.5em;
}

nav > ul {
    display: flex;
    align-items: center;
    column-gap: 1.5em;
}

nav > ul > li {
    text-transform: uppercase;
    font-size: 0.875em;
}

a, a:visited {
    color: #fff;
}

section {
    height: 41.25em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1, h2 {
    font-size: 7.5em;
    width: 80%;
    line-height: 1;
}

section#unlock {
    background-image: url("./assets/unlock-background.jpg");
}

section#unlock span {
    color: #83C5F3;
}

section#global {
    background-image: url("./assets/global-creative-tiles.png");
}

section#global h2 {
    transform: rotate(3deg);
}

section#global span {
    color: #FEBB4E;
}

section#culture {
    background-image: url("./assets/stars.jpg");
}

section#culture span {
    color: #D6534B;
}

section#entertainment {
    background-image: url("./assets/stars.jpg");
    padding-bottom: 14em;
    height: auto;
    padding-top: 8.5em;
}

section#entertainment > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5em;
}

section#entertainment h2 {
    font-size: 3.75em;
}

section#entertainment span {
    font-size: 2em;
    color: #6EA5CC;
}

@media (max-width: 1200px) {
    :root {
        --fontsize: 12px;
    }
}

@media (max-width: 875px) {
    section {
        font-size: 0.75em;
    }
}

@media (max-width: 700px) {
    section {
        font-size: 0.5em;
    }
}

@media (max-width: 550px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 1.5em 4.8125em;
        row-gap: 1em;
    }
}

@media (max-width: 500px) {
    :root {
        --fontsize: 2.7vw;
    }
}