.slider {
    overflow: hidden;
}

.slider > div {
    white-space: nowrap;
}

.slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1em;
}